@import "reboot";
@import "font";
@import "variables";
@import "mixins";

html, body {
    width: 100%;
    height: 100%;
}

.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 35%;
    background-position: 15% 200PX;

    img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
}

.escudo {
    display: flex;  
    align-items: center;
    
    img {
        height: 70%;
        margin: 10px 20px 10px 50px;

    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color:  #cd0c13;
        }    
    }
}


#arsenal-local {
    //llamado de mixins parametro y variables//
    @include camiseta-back("../img/Arsenal_Home_1000x1000.png", $arsenal-color-equipo);
    // llamada de la variable Ej: de color//

}
#arsenal-visit {
    @include camiseta-back("../img/Arsenal_Away_1000x1000.png", $arsenal-color-equipo);

}

#aston-local {
    @include camiseta-back("../img/Aston_Villa_Home_1000x1000.png", $aston-color-equipo);

}
#aston-visit {
    @include camiseta-back("../img/Aston_Villa_Away_1000x1000.png", $aston-color-equipo);

}

#burnley-local {
    @include camiseta-back("../img/Burnley_Home_1000x1000.png", $burnley-color-equipo);

}
#burnley-visit {
    @include camiseta-back("../img/Burnley_Away_1000x1000.png", $burnley-color-equipo);

}